.formContent {
  width: 100%;
  font-size: 1.4em;
  padding: .8em;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 6em;
  border: 2px solid #939191;
  border-radius: 5px;
  margin-bottom: 1em;
}

.formButton {
  background: #4948A7;
  border-radius: 5px;
  color: white;
  border: 0;
  padding: .6em 1em;
  font-size: 1.1em;
}